form {
    border: solid 2px rgb(0, 0, 0);
    padding: 10px;
    border-radius: 5px;
    font-weight:700;
    font-family: 'Raleway', sans-serif;
}

h1, h2 {
    font-family: 'Fredoka One', cursive;
    color:#311b92;
}

.btn-small, .btn-large, .btn, .modal-close {
    font-family: 'Balsamiq Sans', cursive;
}

.section {
    font-family: 'Raleway', sans-serif;
}

th {
    font-size:larger;
    font-weight:800;
}

form:focus-within {
    border-color: orange;
}

tr:hover {
    background-color: #90caf9;
}

html {
    background-color: #bbdefb;
}