h1, h2 {
    border-radius: 25px;
    font-family: 'Fredoka One', cursive;
}

.btn-large {
    border-radius: 8px;
    font-family: 'Balsamiq Sans', cursive;
}

html {
    background-image: url("/images/organizedclosetbghomepage.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}